<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sign.in.up</title>
</head>
<body>
    <form action="/sign.in.up" method="post" name="sign_in_up_form">
        <input type="text" name="email_input" id="email_input" placeholder="example@gmail.com" {% if default_input_values['email'] != None %} value="{{ default_input_values['email'] }}" {%endif%} required><br>
        {% if sign_in_or_sign_up['state'] == "undetermined" %}<input type="submit" value="sign in/up">{% endif %}


        {% if sign_in_or_sign_up["state"] == "sign_up" %}
            {% if sign_in_or_sign_up["phase"] == 1 %}
                <input type="text" name="username_input" id="username_input" placeholder="username" {% if default_input_values['username'] != None %} value="{{ default_input_values['username'] }}" {%endif%} required><br>
                <input type="submit" value="next step">
            {% endif %}


            {% if sign_in_or_sign_up["phase"] == 2 %}
                <input type="text" name="username_input" id="username_input" placeholder="username" {% if default_input_values['username'] != None %} value="{{ default_input_values['username'] }}" {%endif%} required><br>
                <input type="password" name="password_input" id="password_input" placeholder="Password" {% if default_input_values['password'] != None %} value="{{ default_input_values['password'] }}" {%endif%} required><br>
                <input type="submit" value="next step">
            {% endif %}


            {% if sign_in_or_sign_up["phase"] == 3 %}
                <input type="text" name="username_input" id="username_input" placeholder="username" {% if default_input_values['username'] != None %} value="{{ default_input_values['username'] }}" {%endif%} required><br>
                <input type="password" name="password_input" id="password_input" placeholder="Password" {% if default_input_values['password'] != None %} value="{{ default_input_values['password'] }}" {%endif%} required><br>
                <input type="password" name="password_confirmation_input" id="password_confirmation_input" placeholder="Password confirmation" {% if default_input_values['password_confirmation'] != None %} value="{{ default_input_values['password_confirmation'] }}" {%endif%}" required><br>
                <input type="submit" value="Sign up">
            {% endif %}
        {% endif %}

        {% if sign_in_or_sign_up == "sign_in" %}
            <input type="password" name="password_input" id="password_input" placeholder="************" required>
            <input type="submit" value="Sign in">
        {% endif %}

    </form>
</body>
</html>